/* SuccessPage.css */

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
  }
  
  .success-message {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
  }
  
  .success-message h1 {
    color: #257adb;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .success-message p {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .home-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #3183cf;
  }
  
  .home-button:active {
    background-color: #3e8e41;
  }
  