/* UserList.css */
.user-list {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  background: linear-gradient(135deg, #f4f4f9, #e0e0e8);
  }

  .buttons{
    display: flex;
    justify-content: end;
    padding: 10px;
    align-items: center;
  }
  .btn-1{
    padding: 8px 34px;
  }
  .btn-3{
    padding: 6px 44px;
  }
  .btn-2{
    background-color: #007bff;
    margin: 5px 24px;
    border: none;
    border-radius: 10px;
    color: white;
  }
  li{
    list-style-type: none;
    
  }
  li a{
    text-decoration: none;
  }
  .user-list-h1{
    text-align: center;
    margin-bottom: 20px;
  }
  .user-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
  }
  .user-detail-link {
    background-color: #007bff;
    color: white;
    align-items: end;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
  }
  .user-detail-link:hover {
    background-color: #0056b3;
  }
  .user{
    background-color: white;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  .user-table {
    max-width: 100%;
    /* height: 30vh; */
    border-collapse: collapse;
    padding: 1rem;
    /* margin-bottom: 20px; */
    border: 2px solid #ddd;
  }

  .user-table th{
    background-color: #007bff;
  }
  
  .user-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    /* background-color: red; */
  }
  .user-table td{
    text-align: left;
    padding: 10px 14px;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .update-btn{
    text-decoration: none;
    background-color:#007bff;
    padding: 2px 4px;
    color: white;
    border-radius: 8px;
  }
  .back-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-btn:hover {
    background-color: #0056b3;
  }